/* Barra lateral: inicio codigo reutilizado*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
    padding: 0 20px;
}

.nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.nav_logo{
    color: #0D6EFD;
    font-size: 25px;
}

.nav_logo:hover {
    color: #1CC922;
}

/* Barra de navegación: fin codigo reutilizado */

/* Barra lateral: inicio código reutilizado */

.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Inicialmente oculto fuera del viewport */
    width: 295px;
    height: 100vh;
    background-color: #EAEAEA;
    transition: left 0.4s ease;
    z-index: 999;
}
  
.sidebar.open {
    left: 0; /* Mostrar la barra lateral */
}

.menu-button {
    cursor: pointer;
    position: relative;
}

.menu-button:hover {
    color: #1CC922;
}

.close-button:hover {
    color: #1CC922;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 20px;
}

/* Barra lateral: fin codigo reutilizado */

/* Estilos para el contenedor grande */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px); /* Altura de la pantalla menos la altura de la barra de navegación */
}

.box {
    text-align: center;
    padding: 25px 95px;
    background-color: #EAEAEA;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 20px 0 ;
}

.grid button,
.button-group button {
    padding: 10px 40px;
    background-color: #1CC922;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
}

.button-group button {
    background-color: #0D6EFD;
}

#prev-button {
    margin-right: 10px;
}

#question {
    margin: 20px;
}
