@import url('../CU-0004\ Habilitar\ cuestionario\ general/main_styles.css');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px); /* Altura de la pantalla menos la altura de la barra de navegación */
}

.box {
    text-align: center;
    padding: 25px 95px;
    background-color: #EAEAEA;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 20px 0 ;
}

.grid button,
.button-group button {
    padding: 10px 40px;
    background-color: #1CC922;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
}

.button-group button {
    background-color: #0D6EFD;
}

#prev-button {
    margin-right: 10px;
}

#question {
    margin: 20px;
}
