@import url('main_styles.css');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    height: 100vh;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
  
.course-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 125px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #EAEAEA;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#math-button:hover {
    background-color: #8b0000;
    color: white;
    font-style: solid;
}

#biology-button:hover {
    background-color: #006400;
    color: white;
    font-style: solid;
}

#comunication-button:hover {
    background-color: #ffa500;
    color: white;
    font-style: solid;
}

#general-button:hover {
    background-color: #ffa500;
    color: white;
    font-style: solid;
}
